@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    border: 0.5px grey solid;
  } */
  .container-shadow {
    box-shadow: 0 1px 5px #0c0c0c14, 0 0 20px #0c0c0c04;
  }
  .container-shadow:hover,
  .container-shadow:focus-within {
    box-shadow: 0 2px 12px #0c0c0c26, 0 0 20px #0c0c0c06;
  }
}

@layer components {
  .button-span-rg-active {
    @apply text-xl text-primary cursor-pointer;
  }
  .button-span-rg {
    @apply text-xl text-fblack cursor-pointer hover:text-primary;
  }
  .button-fill-rg {
    @apply w-fit px-3 py-2 rounded-xl lg:text-xl bg-primary font-semibold  text-fwhite hover:bg-primaryhover;
  }
  .heading1 {
    @apply text-2xl text-center lg:text-left lg:text-5xl font-serif text-fblack max-w-2xl lg:leading-relaxed;
  }
  .regular-text {
    @apply text-lg lg:text-2xl text-center lg:text-left;
  }
  .container-rg {
    @apply bg-white border border-lwhite;
  }
  .hidden-m {
    @apply hidden lg:block;
  }
  .hidden-lg {
    @apply block lg:!hidden;
  }
  .input-text-rg {
    @apply container-rg rounded-xl container-shadow focus-within:border focus-within:border-fblack;
  }
  .prevent-input-text {
    @apply focus:border-0 focus:outline-none;
  }
}
